$text-primary: #000;
$text-secondary: #a0a0a0;

//breakpoint
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 120px;

//color-scheme
$green: #7cc64f;
$orange: #c8b550;
$red: #c85050;
$purple: #b44cc5;

$focus: #b1d0d9;
$focus-2: #859ea5;
