@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import './_variable';
html {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}

body {
  color: $text-primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.card {
  width: calc(100vw - 64px);
  background: #fff;
  padding: 1.2rem;
  border-radius: 10px;
  z-index: 1000;
  box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.25);
  // width: 100%;
  @media (min-width: $sm) {
    max-width: 320px;
  }
}

.search {
  margin: 16px;
  position: absolute;
  top: 0;

  &__bar {
    display: flex;
    justify-items: center;
  }

  input {
    font-size: 1.6rem;
    border: none;
    width: 100%;
  }

  &__icon {
    color: $text-secondary;
    font-size: 1.6rem;
    line-height: 1.6rem;
    margin-top: 0.2rem;
  }
}

.result {
  font-size: 1.4rem;
  // margin-top: 1.6rem;

  max-height: 320px;
  margin: 1.6rem -1.2rem 0;
  padding: 0 1.2rem;
  overflow: scroll;

  &__item {
    height: 32px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    @media (min-width: $sm) {
      &:hover {
        background: $focus;
      }
    }
    &:active {
      background: $focus-2;
    }
    margin: 0 -1.2rem;
    padding: 0 1.2rem;
  }
  &__country {
    line-height: 3.2rem;
  }

  &__case {
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    background-color: #ccc;
    border-radius: 5px;
    padding: 4px;
    margin: 4px 0 4px 0;
    &--green {
      background-color: $green;
    }
    &--orange {
      background-color: $orange;
    }
    &--red {
      background-color: $red;
    }
    &--purple {
      background-color: $purple;
    }
  }
}

.info {
  margin: 16px;
  position: absolute;
  bottom: 0;

  &__title {
    font-weight: bold;
    font-size: 2.2rem;
  }
  &__description {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

.marker-icon {
  border-radius: 50%;
  &--green {
    background: rgba(126, 200, 80, 0.75);
    box-shadow: 0px 0px 16px rgba(95, 154, 58, 0.5);
    &.active {
      background: #7ec850;
    }
  }
  &--orange {
    background: rgba(200, 181, 80, 0.75);
    box-shadow: 0px 0px 16px rgba(148, 134, 59, 0.5);
    &.active {
      background: #c8b550;
    }
  }
  &--red {
    background: rgba(200, 80, 80, 0.75);
    box-shadow: 0px 0px 16px rgba(148, 57, 57, 0.5);
    &.active {
      background: #c85050;
    }
  }
  &--purple {
    background: rgba(183, 80, 200, 0.75);
    box-shadow: 0px 0px 16px rgba(138, 57, 151, 0.5);
    &.active {
      background: #b750c8;
    }
  }
  &.active {
    // border: 5px solid rgba(255, 255, 255, 0.5);

    animation-duration: 0.25s;
    animation-name: changeBorder;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}

/*
transition
*/

@keyframes changeBorder {
  from {
    border: 6px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
  }

  to {
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
  }
}

textarea,
select,
input,
button {
  outline: none;
}

// Override
.leaflet-top,
.leaflet-bottom {
  position: absolute;
  z-index: 499; /* was 1000 */
  // pointer-events: none;
}

.leaflet-control-container {
  @media (max-width: $sm) {
    display: none;
  }
}
